*{margin:0px auto}
body
	{
		background-color : #2b5f5b ;
		margin:10px;
		padding: 10px;
	}
.container
	{
	width:100%;
	height:auto;
	text-decoration:none;
	}
.header
	{
	width: 100%;
	height:auto;
	float:left;
	background-color:#AFEEEE;
	text-decoration:none;
	}
.header h1
	{
	color:#008080;
	align-items:center;
	font-family:Audiowide Regular;
		padding:10px;
	text-decoration:none;
	
	}
.header h2
	{
	color:#020202;
	align-items:center;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
	padding:10px;
	text-decoration:none;
	
	}
.headerimg
	{
	width:20%;
	height:auto;
	float:right;
	margin:10px;
	}
.header_img2
	{
	width:40%;
	height:auto;
	float:left;
	margin:10px;
	object-fit: contain;
	}

.nav 
	{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	background-color:#fcff00;
	margin:10px 0px;
	text-decoration:none;
	}
.nav ul
	{
	margin:10px;
	padding:0px;
	}
.nav ul li
	{
	list-style:none;
	display :inline ;
	}
.nav ul li a
	{
	color:#ff0000;
	text-decoration:none;
	margin:0 0 0 45px;
	font-family:Vani Regular;
	display:inline-block;
	transition: 0.3s all;
	}
.nav ul li a:hover
	{
	color:rgb(49, 0, 165);
	
	}
.hover-line::after
	{
		content: " ";
		display: block;
		width: 0%;
		height: 2px;
		background-color: #666;
		transition: width 0.3s;
	}
.hover-line:hover:after	
{
	width:100%;
	transition:width .3s;
}
	
.footer
	{
	width:100%;
	height:auto;
	float:left;
	background-color:#000;
	
	}
.footer p
	{
	color:#fff;
	text-align:center;
	font-family:Times_New_Roman_Regular ;
	font-size:20px;
	margin:10px 10px 10px 10px;
	}
.footer_img
	{
	width:20%;
	height:auto;
	float:left;
	margin:10 10 10 10px;
	}
.menu 
	{
	width:100%;
	height:auto;
	float:left;
	background-color:#ad1010;
	margin-bottom:10px;
	color:white;
	text-align:center;
	}
.marketing
	{
	width:100%;
	height:auto;
	float:left;
	background-color:#000;
	margin-bottom:10px;
	}
.img_holder
	{
	width:100%;
	height:auto;
	float:center;
	background-color:#fff;
	margin:10 10 10 10px;
	}
.info
	{
	width:98%;
	height:auto;
	float:left;
	background-color:#000;
	margin-bottom:10px;
	padding:10px;
	}
.paragraph
	{
	width:auto;
	height:auto;
	float:left;
	background-color:#ccc;
	margin:10px 10px 10px;
	padding:0 10px;
	}
.description
	{
	width:30%;
	height:auto;
	float:left;
	margin:10px 05px 05px;
	background-color:#000;
	padding:0 10px;
	align-items: center;
	}
.description h2
	{
	color:#fff;
	background-color:#666;
	text-align:center;
	font-family:arial narrow;
	padding:5px;
	border-radius:5px;
	}
.description p
	{
	color:rgb(122, 13, 13);
	font-family:Arial;
	font-size:12px;
	padding:10px;
	text-align:justify;
	float:center;

	}
.description_img
	{
	width:100%;
	height:auto;
	float:center;
	background-color:#fff;
	margin:10 10 10 10px;
	}
	.descriptiona_img
	{
	width:100%;
	height:auto;
	float:left;
	background-color:rgb(46, 194, 137);
	margin:10 10 10 10px;
	margin-top:10px;
	}

not used
.hover {
    position: reletive;
    display: hover;
    border-bottom: 1px dotted black;
}



.tooltip .tooltiptext {
    visibility: hidden;
    width:auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left:50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}


.tooltip .tooltiptext::after {
    content: "";
    position: none;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

